{% extends '../index_master.html' %}

{% block content %} 
<div class="right_col" role="main">
    <h1>Eliminar Producto</h1>
        <form action="eliminar_inventario" method="POST">
            {% csrf_token %}
            <div class="form-group row">
            <label for="codigo" class="col-4 col-form-label">Nº Codigo</label> 
            <div class="col-8">
                <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <i class="fa fa-search"></i>
                    </div>
                </div> 
                    <select id="codigo" name="codigo">
                        {% for i in inventario %}
                            <option value="{{i.codigo}}">{{i.codigo}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            </div>

            <div class="form-group row">
                <div class="offset-4 col-8">
                  <button name="submit" type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar producto </button>
                </div>
              </div>
        </form>
</div>
{% endblock %}